.progress_container {
    height: 100%;
    width: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999999999999999999;
    background-repeat: repeat-y;
    gap: 4px;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

.contrast_border {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.bar {
    flex-grow: 1;
    width: 20px;
}

.goal {
    margin: 12px 0px 0px 0px;
    object-fit: contain;
    width: 20px;
    height: 20px;
    /* filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 8px yellow); */
}

.character {
    position: fixed;
    bottom: 3px;
    left: 20px;
    object-fit: contain;
    width: 32px;
    height: 32px;
    border: none;
    transition: all 1s linear;
}

.rotate_character {
    transform: rotate(-90deg);
    margin-left: 4px;
}

.move {
    bottom: calc(100% - 40px);
    transition: all 1s linear;
    /* transform: translate(0, 100%); */
}

.show {
    display: flex;
}


.heart {
    display: none;
    position: fixed;
    object-fit: contain;
    top: 4px;
    left: 10px;
    height: 12px;
    width: 12px;
    /* padding: 4px; */
}

.show_heart {
    display: flex;
}