.popup {
    display: flex;
    /* padding: 16px; */
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    /* border: 1px solid blue; */
}

.timer_text_container {
    display: flex;
    flex-direction: column;
    font-family: Karla;
    color: #222;
    gap: 4px;
    /* border: 1px solid red; */
}

.timer_text_container_title {
    font-size: 18px;
    font-weight: bold;
}

.timer_text_container_subtitle {
    font-size: 12px;
}

.timer_label {
    font-family: Karla;
    color: #555;
    display: flex;
    justify-content: center;
    gap: 8px;
    /* padding: 8px 24px; */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.timer_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #555;
}

/* controls the colons */
.timer_input_container {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 0px;
    /* color: #ddd; */
}

.timer_text {
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 36px;
    color: #222;
}

input {
    color: #222;
    border: solid 1px #ddd;
    border-radius: 8px;
    font-family: "Orbitron";
    font-size: 36px;
    padding: 4px 8px;
}

input:hover {
    box-shadow: 0px 2px 0px #ddd;
}

.timer_btn_container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.timer_btn {
    width: 40px;
    height: 40px;
    color: #222;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #222;
    cursor: pointer;
}

.timer_btn:hover {
    box-shadow: 0px 2px 0px #222;
}

.timer_btn_play {
    color: white;
    background-color: blue;
    /* border: blue; */
}

.timer_btn_pause {
    color: #222;
    background-color: transparent;
    /* background: #E0E5EC; */
    /* box-shadow: inset 4px 4px 8px 0 rgba(163, 177, 198, 0.8), inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8); */
}

.timer_btn_add {
    /* width: auto;
    height: auto; */
    flex-grow: 1;
    border-radius: 8px;
    padding: 0px 16px;
    font-size: 16px;
}

.sprite_container {
    display: flex;
    justify-content: center;
    height: 32px;
    gap: 4px;
    padding-bottom: 24px;
}

.sprite {
    height: 32px;
    width: 32px;
    transform: rotate(-90deg);
}

.banana {
    height: 20px;
    width: 20px;
    align-self: flex-end;
}